<script type="text/javascript" src="path_to/jquery.leanModal.min.js"></script>

<div class='row'>
  <div class='col-xs-offset-2 col-sm-offset-2 col-xs-3 col-sm-3'>
    <h1>Registration</h1>
  </div>
</div>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
