<% if @games.present? %>
<div class='game-grid'>
    <% @games.each do |game| %>
    <div class="col-md-2">
        <%= link_to game_path(game.id), class: "linkA" do %>
        <div class="search-panel">
            <div class="image-wrapper">
                <% if game.image.url %>
                <%= image_tag "http://" + game.image.url(:icon) %>
            <% else %>
                <%= image_tag "game-placeholder.jpg" %>
                <% end %>
            </div>
            <div class="title">
                <h5 class="text-center">
                    <%=game.title%>
                </h5>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</div>
<br>
<% end %>
