<h1>
    <center>Contact Us!</h1>
    <hr>

    <div class="container">
        <div class="col-sm-4">
            <div class="email-links"></div>
            <div class="contact-left">
                <div class="phoneClass">
                    <h4>Phone Support</h4>
                    <p>778-XXX-XXXX</p>
                    <br>
                </div>
                <h4>Hours of Operation</h4>
                <p>Monday-Friday: 8:30 AM to 9:00 PM (5:30 PM Vancouver)</p>
                <p>Closed: Saturday, Sunday and National Holidays</p>
                <br>
                <h4>Email</h4>
                <p>support@indiearcade.com</p>
                <p>corporate@indiearcade.com</p>
                <br>
            </div>
        </div>
        <div class="col-sm-8">

            <form class="form-horizontal">
                <div class="form-group">
                    <div class="radio col-sm-offset-2">
                        <div id="no">Who would you like to contact?</div>
                        <label>
                            <div id="radio">
                                <input type="radio" name="department" id="optionsRadios2" value="Corporate">
                                Corporate
                                <br>
                                <input type="radio" name="department" id="optionsRadios2" value="Support">
                                Support
                            </div>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-10">
                        <textarea type="message" class="form-control" rows='8' id="message" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div id="submit">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
