<h1>
    <center>New Game</center>
</h1>

<br>

<%= render 'form', game: @game %>

<div class='row'>
    <div class='col-xs-offset-10 col-xs-2'>
        <%= link_to 'Back', games_path, class:'btn btn-default btn-sm' %>
    </div>
</div>
