/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";



 /* Outer */
 .popup-1 {
     width:100%;
     height:100%;
     display:none;
     position:fixed;
     top:0px;
     left:0px;
     background:rgba(0,0,0,0.75);
     z-index: 100;
 }
 .popup-2 {
     width:100%;
     height:100%;
     display:none;
     position:fixed;
     top:0px;
     left:0px;
     background:rgba(0,0,0,0.75);
     z-index: 100;
 }

 /* Inner */
 .popup-2 .popup-inner {
     max-width: 700px;
    width: 90%;
    padding: 16px;
    height: 545px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    /* background: rgba(0,0,0,0.2); */
    background: #3a8ebc;
    border: 2px solid white;
 }
 .popup-1 .popup-inner {
     max-width: 700px;
    width: 90%;
    padding: 16px;
    height: 387px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    /* background: rgba(0,0,0,0.2); */
    background: #3a8ebc;
    border: 2px solid white;
 }

 /* Close Button */
 .popup-close {
     width:30px;
     height:30px;
     padding-top:4px;
     display:inline-block;
     position:absolute;
     top:0px;
     right:0px;
     transition:ease 0.25s all;
     -webkit-transform:translate(50%, -50%);
     transform:translate(50%, -50%);
     border-radius:1000px;
     background:rgba(0,0,0,0.8);
     font-family:Arial, Sans-Serif;
     font-size:20px;
     text-align:center;
     line-height:100%;
     color:#fff;
 }

 .popup-close:hover {
     -webkit-transform:translate(50%, -50%) rotate(180deg);
     transform:translate(50%, -50%) rotate(180deg);
     background:rgba(0,0,0,1);
     text-decoration:none;
 }

.align-right {
  text-align: right;
}

.form-header-spacing {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.form-spacing {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.light-orange {
  color: orange;
}

.footer {
  position: static;
  bottom: 0px;
}

.container {
  position: sticky;
  ;
}
