

.panel-info {
  color: lightblue;
}

.game-image {
  height: 100%;
}

#text-wrapper {
  float: right;
}

.arcade-list-spacing {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.arcade-thumb {
  max-height: 170px;
}
