// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// h4{
//   font-style:oblique;
//   text-decoration:underline;
// }

#no{
   padding-left:15px;
   font-style: oblique;
   font-size: 28px;
 }

#radio{
  padding-left: 15px;
}

#message{
  float:right;
}

#submit{
  float:right;
  padding-right:15px;
}
