.round {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-image: image-url('logo.png');
  float: left;
  top: 10px;
  left: 10px;
  padding-left: 10px;
  padding-top: 50px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  flex-flow: row wrap;
}

.game-item{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.5);
  background-blend-mode: lighten;
  // border: 1px solid white;
  margin: 1rem 1rem 1rem 1rem;
  flex-grow: 1;
}

.game-thumb {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: rgba(200, 200, 200, 0.5);
  background-blend-mode: lighten;
  margin: 1rem 1rem 1rem 1rem;
  flex-grow: 1;
}

.game-img {
  align-items: flex-start;
}

.game-title {
  align-self: flex-end;
  padding-bottom: 0.2rem;
}

.grid-spacing{
  margin-bottom: 5rem;
}

.linkA {
  display: block;
}
