// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-front {
  width: 100%;
}

.page-divider {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.msg-form-spacing {
  margin-top: 1rem;
  margin-bottom: 1rem
}
