.round {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-image: image-url('logo.png');
  float: left;
  top: 10px;
  left: 10px;
  padding-left: 10px;
  padding-top: 50px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}
