// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel-heading {
  color: darkgrey;
}

#got-game {
  // font-family: 'Impact';
  font-weight: bold;
  font-size: 45px;
}

#indie-game-heading {
  color: lightblue;
}

.glyphicon {
  font-size: 20px;
}

.footer {
  padding-top: 5px;
  // position: absolute;
  width: 100%;
}


.copyright {
  font-size: 20px;
}
