// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-body {
  color: black;
}

.panel-heading {
  color: darkgrey;
}

#got-game {
  // font-family: 'Courier New';
  font-weight: bold;
  font-size: 57px;
}

#indie-game-heading {
  color: lightblue;
}
