<div>
  <h3>Company name :
    <%= ans.user.func_company_name %></h3>
</div>
<div>Fun :
  <%= ans.fun %></div>
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
</div>
<div>Playability :
  <%= ans.playability %></div>
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
</div>
<div>Difficulty :
  <%= ans.difficulty %></div>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
</div>
