<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <a class="navbar-brand" href="/"> <img class="logo-nav" src="/images/logo.png" alt="Arcade" /> </a>

      </div>

      <div class="col-md-4">

        FAQ

      </div>


      <div class="col-md-4">

        links

      </div>

    </div>
  </div>

</div>
