<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <a class="navbar-brand" href="/"><img class="logo-nav" src="/images/logo.png" alt="Arcade" /> </a>

      </div>
      <br>
      <div class="col-md-3 glyphicon glyphicon-question-sign">

        <b><%=link_to 'FAQ', home_faq_path%></b>

      </div>

      <div class="col-md-4">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>

      </div>

      <div class="col-md-2 copyright">
        <p>© TOne - 2016</p>
      </div>
    </div>

    </div>
  </div>

</div>
