<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <a class="navbar-brand" href="/"><img class="logo-nav" src="/images/logo.png" alt="Arcade" /> </a>

      </div>
      <br>
      <div class="col-md-2 text-right ">
        <span class="glyphicon glyphicon-question-sign xl"></span>
        <%=link_to 'FAQ', home_faq_path%>
      </div>
      <div class="col-md-2 text-right ">
        <span class="glyphicon glyphicon-question-sign xl"></span>
        <%=link_to 'Contact', contact_path%>
      </div>

      <div class="col-md-2 text-right">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>

      </div>
    </div>

    </div>
</div>
</div>
